/*Common styles*/
@import "fonts.css";
@import "normalize.css";
@import "swiper-styles-reset.css";
@import "blocks/header.css";
@import "blocks/footer.css";

/*News page styles*/
@import "blocks/news-page/main.css";

/*Main page styles*/
@import "blocks/main-page/hero.css";
@import "blocks/main-page/features.css";
@import "blocks/main-page/news.css";
@import "blocks/main-page/rating.css";
@import "blocks/main-page/communities.css";


* {
    font-family: "AGFriquerC", "Arial", sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    background-color: #030713;
}

main {
    margin-top: -101px;
    min-height: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
p {
    color: #FFFFFF;
}

section {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1431px;
    position: relative;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.decor-border,
.single-news__content img {
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #9474F1 51.5%, #55438B 51.51%) 1;
}

.section__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 25.94px;
    text-align: center;
    text-transform: uppercase;
    color: #949396;
    margin-bottom: 20px;
}

.section__subtitle.white {
    color: #C4C4C4;
}

.section__title,
.single-news__content h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    outline: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid rgba(198, 79, 240, 1);
    border-bottom: 1px solid rgba(198, 79, 240, 1);
    position: relative;
    min-height: 65px;
    max-width: 226px;
    width: 100%;
    cursor: pointer;
    backdrop-filter: blur(9px);
    background: none;
}

.button.big {
    font-size: 24px;
    line-height: 26px;
}

.button[disabled] {
    pointer-events: none;
    filter: grayscale(1);
}

a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    background: url('/images/button-decor.png') no-repeat center;
    width: 38.5px;
    height: 71px;
}

.button::before {
    left: -3px;
}

.button::after {
    right: -6px;
    transform: rotate(180deg)
}

.button span::before,
.button span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s linear opacity;
    z-index: -1;
}

.button span::before {
    background: radial-gradient(52.88% 89.23% at 50% 100%, rgba(211, 84, 255, 0.45) 0%, rgba(34, 32, 57, 0.45) 100%);
    box-shadow: 0px 0px 18px 0px rgba(211, 84, 255, 0.51) inset;
}

.button span::after{
    background: radial-gradient(52.88% 89.23% at 50% 100%, #C639F7 0%, #2E0E3A 100%);
    opacity: 0;
}

.button:hover span::before {
    opacity: 0;
}

.button:hover span::after{
    opacity: 1;
}

.button:active {
    background: radial-gradient(52.88% 89.23% at 50% 100%, #641580 0%, #2E0E3A 100%);
    border-top: 1px solid rgba(104, 37, 128, 1);
    border-bottom: 1px solid rgba(104, 37, 128, 1);
}

.button:active span::before,
.button:active span::after {
    opacity: 0;
}

.submenu {
    position: relative;
}

.submenu-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.1s linear;
}

.submenu:hover .submenu-content {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.socials-list {
    display: flex;
}

.socials-list-item {
    transition: 0.1s linear;
}

.socials-list-item:hover {
   opacity: 0.6;
}

.socials-list-item:not(:last-child) {
    margin-right: 20px;
}

.pagination {
    margin: 0 auto;
    min-height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    color: #5F5F5F;
    background-color: #131318;
    width: fit-content;
    overflow: hidden;
}

.pagination__button {
    width: 52px;
    text-decoration: none;
    position: relative;
}

.pagination__button::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 9.99px;
    background: url('/images/pagination-arrow.svg') no-repeat center;
}

.pagination__button.next::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.pagination__button.disabled,
.pagination__numbers-item.empty,
.pagination__numbers-item.active {
    pointer-events: none;
}

.pagination__numbers-item {
    padding: 0 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__numbers-item.active {
    background-color: #6851AB;
}

.pagination__numbers-item:not(.empty),
.pagination__button:not(.disabled) {
    transition: 0.1s linear;
}

.pagination__numbers-item:not(.empty):hover,
.pagination__button:not(.disabled):hover {
    opacity: 0.6;
}

.pagination__numbers-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pagination__numbers-item span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #5F5F5F;
    text-align: center;
}

.pagination__numbers-item.active span {
    color: #FFFFFF;
}

.pagination__numbers {
    display: inline-flex;
    align-items: stretch;
    height: auto;
}

.pagination > *:not(:last-of-type),
.pagination__numbers-item {
    border-right: 1px solid #4C4365;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    .button::before,
    .button::after {
        background: url('/images/button-decor@2x.png') no-repeat center;
        background-size: cover;
    }
}