/*Common styles*/
@import "fonts.css";
@import "vendor/normalize.css";
@import "vendor/swiper-styles-reset.css";
@import "components/header.css";
@import "components/footer.css";

/*UI styles*/
@import "UI/button.css";
@import "UI/modal.css";
@import "UI/submenu.css";
@import "UI/socials-list.css";
@import "UI/pagination.css";

/*News page styles*/
@import "pages/news/main.css";

/*Main page styles*/
@import "pages/main/hero.css";
@import "pages/main/features.css";
@import "pages/main/news.css";
@import "pages/main/rating.css";
@import "pages/main/communities.css";

/*Register page styles*/
@import "pages/register-login/main.css";

/*About page styles*/
@import "pages/about-rules/main.css";


* {
    font-family: "AGFriquerC", "Arial", sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    background-color: #030713;
}

main {
    margin-top: -101px;
    min-height: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #FFFFFF;
}

a:not(.button) {
    transition: 0.1s linear;
}

a:not(.button):hover {
    opacity: 0.6;
}

a.footer__column-text:hover {
    opacity: 1;
}

section {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1431px;
    position: relative;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.no-scroll {
    overflow: hidden;
}

.content-section {
    background: url('/images/content-bg.png') no-repeat 0 0;
    min-height: 100vh;
}

.decor-border,
.content img {
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #9474F1 51.5%, #55438B 51.51%) 1;
}

.section__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 25.94px;
    text-align: center;
    text-transform: uppercase;
    color: #949396;
    margin-bottom: 20px;
}

.section__subtitle.white {
    color: #C4C4C4;
}

.section__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 21px 0 14px;
}

.content h1 {
    font-size: 48px;
    line-height: 52px;
}


.content h2 {
    font-size: 43px;
    line-height: 47px;
}


.content h3 {
    font-size: 38px;
    line-height: 42px;
}


.content h4 {
    font-size: 33px;
    line-height: 37px;
}


.content h5 {
    font-size: 28px;
    line-height: 32px;
}


.content h6 {
    font-size: 23px;
    line-height: 27px;
}

.content img {
    width: 100%;
}

.content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 16px 0 21px;
}

.content a {
    color: #55438b;
}

.content hr {
    border-color: #55438B;
}

.content ul {
    list-style-type: initial;
}

.content ul,
.content ol {
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 0 0 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.content ul li:not(:last-of-type),
.content ol li:not(:last-of-type) {
    margin-bottom: 5px;
}

@media (max-width: 767px) {

    .content h1 {
        font-size: 26px;
        line-height: 28px;
    }

    .content h2 {
        font-size: 24px;
        line-height: 26px;
    }

    .content h3 {
        font-size: 22px;
        line-height: 24px;
    }

    .content h4 {
        font-size: 20px;
        line-height: 22px;
    }

    .content h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .content h6 {
        font-size: 16px;
        line-height: 18px;
    }

    .content p,
    .content ul,
    .content ol {
        font-size: 16px;
        line-height: 18px;
        margin: 12px 0 24px;
    }

    .content ul li:not(:last-of-type),
    .content ol li:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .section__title {
        font-size: 26px;
        line-height: 28px;
    }

    .container {
        padding: 0 14px;
    }
}

@media (max-width: 400px) {
    .button {
        max-width: 100%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .content-section {
        background: url('/images/content-bg@2x.png') no-repeat 0 0;
        background-size: cover;
    }
}