.hero::after,
.hero::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, rgba(76, 67, 101, 0) 0%, #4C4365 100%);
    height: 4px;
    width: 48.91%;
    z-index: 10;
}

.hero::before {
    left: 0;
}

.hero::after {
    right: 0;
    transform: rotate(180deg);
}

.hero__video-bg {
    width: 100%;
    max-width: 1916px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.hero__content {
    max-width: 802px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 161px 0 95px;
}

.hero__title {
    font-size: 58px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    margin: 15px 0 27px;
}

.hero__descr {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.hero__servers-list {
    display: flex;
    align-items: center;
    margin: 25px 0 0 16px;
    align-self: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.hero__servers-list-item {
    flex: 0 0 374px;
    background: radial-gradient(52.88% 89.23% at 50% 100%, rgba(66, 22, 81, 0.45) 0%, rgba(34, 32, 57, 0.45) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border: 1px solid rgba(118, 31, 148, 1);
    box-shadow: 0px 0px 18px 0px rgba(211, 84, 255, 0.24) inset;
    backdrop-filter: blur(9px);
    padding: 22px 17px 19px;
    position: relative;
    margin-bottom: 24px;
}

.hero__servers-list-item:nth-child(odd) {
    margin-right: 24px;
}

.hero__servers-list-item:only-child {
    margin: 0 auto 24px;
}

.hero__servers-list-item::before,
.hero__servers-list-item::after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    background: url('/images/hero-servers-decor.png') no-repeat center;
    width: 36px;
    height: 143px;
}

.hero__servers-list-item::before {
    left: -3px;
}

.hero__servers-list-item::after {
    right: -3px;
    transform: rotate(180deg)
}

.hero__servers-name {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 190px;
}

.hero__servers-list-head,
.hero__servers-list-footer {
    display: flex;
    align-items: center;
}

.hero__servers-list-footer {
    justify-content: space-between;
}

.hero__servers-logo {
    margin-right: 10px;
}

.hero__servers-online {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    color: #39DB1F;
    margin-left: auto;
}

.hero__servers-online.offline {
    color: #949396;
}

.hero__servers-progress {
    background: #04081466;
    height: 16px;
    margin: 17px 0 13px;
    position: relative;
}

.hero__servers-progress p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    text-align: right;
    padding: 1px 5px;
    z-index: 1;
    position: relative;
}

.hero__servers-progress span {
    background: linear-gradient(90deg, #443B6A 0%, #9453FF 100%);
    height: 100%;
    position: absolute;
}

.hero__servers-list-footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #949396;
}

.hero__decor {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .hero__servers-list-item::before,
    .hero__servers-list-item::after {
        background: url('/images/hero-servers-decor@2x.png') no-repeat center;
        background-size: cover;
    }
}