.main-page-news {
    margin-bottom: 52px;
}

.main-page-news__content {
    display: grid;
    grid: repeat(2, 1fr) / 58% 41%;
    gap: 15px 16px;
    min-height: 469px;
    margin: 42px 0 38px;
}

.main-page-news__content-item {
    padding: 23px;
    min-height: 219px;
}

.main-page-news__content-item.big {
    grid-row: span 2;
    padding: 27px 24px;
}

.main-page-news__content-head {
    align-items: initial;
}

.big .main-page-news__content-text-title {
    font-size: 34px;
    line-height: 38px;
}

.main-page-news__content-text-descr {
    -webkit-line-clamp: 1;
}

.main-page-news__button {
    margin: 0 auto;
}